.JapanSociety{
position: absolute;
top: 15px;
right: 30px;
color: black;
text-decoration: none;

}
a:visited{
	color: black;
	text-decoration: none;
}


.box{
position: absolute;
top: 15px;
right: 110px;
}

.box1{
position: absolute;
background-color: grey;
height: 50px;
width: 4090px;
top: 150px;
}

.box2{
position: absolute;
color: white;
top: 161px;
left: 20px;	
}

.box3{
position: absolute;
top: 270px;
left: 50px;
}

.box4{
position: absolute;
top: 930px;
left: 50px;
}
.box5{
	position: absolute;
	top: 270px;
	left: 500px;
}
.box6{
	position: absolute;
	top: 270px;
	left: 950px;
}

.box7{
	position: absolute;
	top:270px;
	left: 1400px;
}

.box8{
	position: absolute;
	top: 270px;
	left: 1850px;
}

.box9{
	position: absolute;
	top: 270px;
	left: 2300px;
}

.box10{
	position: absolute;
	top: 270px;
	left: 2750px;
}

.box11{
	position: absolute;
	top: 270px;
	left: 3200px;
}

.box12{
	position: absolute;
	top: 270px;
	left: 3650px;
}

.box13{
	position: absolute;
	top: 30px;
	left: 10px;
}

.box14{
	position: absolute;
	background-color: red;
	height: 50px;
	width: 150px;
	top: 1350px;
	left: 50px;
}

.box15{
	position: absolute;
	top: 1363px;
	left: 90px;
	color: white;
}


.box16{
position: absolute;
background-color: grey;
height: 750px;
width: 4090px;
top: 1500px;
}

.box17{
	position: absolute;
	top: 1510px;
	left: 50px;
	color: white;
}

.box18{
	position: absolute;
	top: 1590px;
	left: 50px;
}

.box19{
position: absolute;
background-color: red;
height: 20px;
width: 20px;
top: 1835px;
left: 293px;
border-radius: 50%;
}

.box20{
	position: absolute;
	top: 2150px;
	left: 50px;
	font-size: 20px;
}

.box21{
	position: absolute;
	top: 1510px;
	left: 83vw;
	color: white;

}

.box22{
	position: absolute;
	top: 1600px;
	left: 80vw;
}

.box23{
	position: absolute;
	top: 1800px;
	left: 84vw;
	color: white;
}

.box24{
	position: absolute;
	top: 1870px;
	left: 83vw;
}

.box25{
	position: absolute;
	top: 1930px;
	left: 81vw;
	color: white;
}

.box26{
	position: absolute;
	top: 2000px;
	left: 80vw;

}

.box{
	position: absolute;
	top: 15px;
	right: 110px;
}

@media(max-width: 550px){
	.box1{
		position: absolute;
		background-color: grey;
		height: 50px;
		width: 95vw;
		top: 20vh;
	}

	.box{
		position: absolute;
		top: 15px;
		right: 20vw;
	}
	
	.JapanSociety{
		position: absolute;
		top: 15px;
		right: 5vw;
	}

	.box13{
		position: absolute;
		top: 10vh;
		right: 2vw;
	}

	.box2{
		position: absolute;
		color: white;
		top: 21.3vh;
		left: 20px;	
	}

	.box5{
		position: absolute;
		top: 180vh;
		left: 9vw;
	}

	.box16{
		position: absolute;
		background-color: grey;
		height: 115vh;
		width: 4090px;
		top: 865vh;
	}

	.box17{
		position: absolute;
		top: 865vh;
		left: 50px;
		color: white;
	}

	.box6{
		position: absolute;
		top: 265vh;
		left: 9vw;
	}

	.box7{
		position: absolute;
		top: 350vh;
		left: 9vw;
	}

	.box8{
		position: absolute;
		top: 435vh;
		left: 9vw;
	}

	.box9{
		position: absolute;
		top: 520vh;
		left: 9vw;
	}

	.box10{
		position: absolute;
		top: 605vh;
		left: 9vw;
	}

	.box11{
		position: absolute;
		top: 690vh;
		left: 9vw;
	}

	.box12{
		position: absolute;
		top: 775vh;
		left: 9vw;
	}

	.box13{
		position: absolute;
		top: 5vh;
		left: 3vw;
		font-size: 14px; 
		font-weight: bold;
	}

	.box14{
		position: absolute;
		top: 170vh;
		left: 9vw;
	}

	.box15{
		position: absolute;
		top: 171.5vh;
		left: 16vw;
	}

	.box18{
		position: absolute;
		top: 878vh;
		left: 20px;
	}

	.box19{
		position: absolute;
		background-color: red;
		height: 20px;
		width: 20px;
		top: 909.5vh;
		left: 260px;
		border-radius: 50%;
	}

	.box20{
		position: absolute;
		top: 945vh;
		left: 20px;
		font-size: 20px;
	}

	.box21{
	position: absolute;
	top: 950vh;
	left: 20px;
	color: white;

	}

	.box22{
	position: absolute;
	top: 960vh;
	left: 20px;
	}

	.box23{
	position: absolute;
	top: 950vh;
	left: 35vw;
	color: white;
	}

.box24{
	position: absolute;
	top: 960vh;
	left: 35vw;
	}

	.box25{
	position: absolute;
	top: 950vh;
	left: 60vw;
	color: white;
	}

.box26{
	position: absolute;
	top: 960vh;
	left: 60vw;

	}



	
}