.leftBlock{
position: absolute;
height: 100%;
top: 300px;
left: 330px;
font-family: 'Cinzel', serif;
font-size: 50px;
}

.rightBlock{
position: absolute;
height: 100%;
top: 300px;
left: 870px;
font-family: 'Cinzel', serif;
font-size: 50px;
}


.centerBlock{
position: absolute;
height: 100%;
top: 40px;
left: 440px;
font-family: 'Cinzel', serif;
font-size: 30px;
text-decoration: underline;
}

.box1{
position: absolute;
top: 400px;
top: 50px;
}
