
.centerBlock{

position: absolute;

height: 100%;

top: 40px;

left: 440px;

font-family: 'Anton', sans-serif;

font-size: 30px;

text-decoration: underline;

}

.box1{

position: absolute;

top: 900px;

right: 50px;

}


.box2{
position: absolute;
top: 900px;
left: 50px;
}

.box3{
position: absolute;
top: 600px;
left: 500px;
}