.centerBlock{

position: absolute;

height: 100%;

top: 40px;

left: 440px;

font-family: 'Anton', sans-serif;

font-size: 30px;

text-decoration: underline;

}

.box1{

position: absolute;

top: 500px;

right: 50px;

}


.box2{

position: absolute;

top: 500px;

left: 50px;

}
}