.leftBlock{
position: absolute;
top: 300px;
left: 300px;
font-family: 'Playfair Display', serif;
}

.rightBlock{
position: absolute;
top: 300px;
left: 800px;
font-family: 'Playfair Display', serif;
}


.box1{
position: absolute;
top: 800px;
right: 50px;
}


.box2{
position: absolute;
top: 800px;
left: 50px;
}

.box3{
position: absolute;
top: 500px;
left: 400px;

}