
.box{
	font-size: 50px;
	font-family: 'Julius Sans One', sans-serif;
	color: lightgrey;
}

.paragraphs{
	color: white;
	font-family: 'Roboto', sans-serif;
}

.Seasons{
	color: white;
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;
}

.quotes{
	color: white;
	font-family: 'Open Sans', sans-serif;

}

.Emma{
	color: white;
	font-family: 'Roboto', sans-serif;
}

.Henry{
	color: white;
	font-family: 'Roboto', sans-serif;
}

.Regina{
	color: white;
	font-family: 'Roboto', sans-serif;
}

.Wicked{
	color: white;
	font-family: 'Roboto', sans-serif;
}

.Dagger_right{
	right: 20px;
}

.Dagger_left{
	left: 20px;
}

@media(max-width: 550px){
	.box{
	font-size: 50px;
	font-family: 'Julius Sans One', sans-serif;
	color: lightgrey;
	margin-left: auto;
}
}
